.info-img {
    width:100%;
    height:100%;
    object-fit: scale-down;
    overflow: hidden;
    max-height: 300px;
}

.ant-descriptions-title {
    font-size: 24px !important;
}

.ant-descriptions-item-content {
    font-size: 16px !important;
}